[Unit]
Description=Raspberry Pi Bluetooth HID client daemon
Requires=btk_server.service
After=btk_server.service

[Service]
Type=simple
WorkingDirectory=/home/pi/bt_keyboard_py3/
ExecStart=/usr/bin/python3 /home/pi/bt_keyboard_py3/kb_client.py

[Install]
WantedBy=multi-user.target
